#chatControls > .settings.berrytweaks-icon {
	background-position: 0% 50% !important;
	background-repeat: no-repeat !important;
}

#chatControls > .settings.poll-button {
	background-image: url(https://dl.atte.fi/famfamfam/chart_bar.png) !important;
}

#chatControls > .settings.playlist-button {
	background-image: url(https://dl.atte.fi/famfamfam/table.png) !important;
}
