#chatlist > ul > li {
    position: relative;
}

#chatlist > ul > li .berrytweaks-flag {
    position: absolute;
    top: 0;
    right: 0;

    width: 16px;
    height: 11px;

    background-repeat: no-repeat;
}

#chatlist > ul > li .berrytweaks-localtime {
    right: 20px !important;
}
